<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GeminiAPIKey
GeminiAPIKey
GeminiAPIKey
GeminiApiKey
GeminiAPIKey
GeminiAPIKey
GeminiAPIKey
</key>
	<string>AIzaSyA138H09hkqF5IHO3X2yOtLF8I1Q_9qeF0</string>
</dict>
</plist>
